In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn import datasets

In [10]:
# Load the Iris dataset
iris=datasets.load_iris()
iris_df = pd.DataFrame(data =np.c_[iris['data'],iris['target']],columns = iris['feature_names']+['target'])
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

In [11]:
#Split data into features (X) and target (Y)

X = iris_df[['sepal width (cm)','petal length (cm)','petal width (cm)']]
y = iris_df['sepal length (cm)']

In [12]:
#Split the data into training and testing sets
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=42)

In [13]:
#Create and fir the Linear Regression model
linreg=LinearRegression()
linreg.fit(X_train, y_train)

LinearRegression()

In [14]:
y_pred = linreg.predict(X_test)

In [15]:
mse = mean_squared_error(y_test,y_pred)
mse

0.1021264786632039